<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}\(%method:%line\) - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.web" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.apache.http" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="io.netty" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</logger>
	
	<logger name="jdbc.sqlonly" level="info" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="jdbc.sqltiming" level="warn" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="jdbc.resultset" level="warn" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="jdbc.connection" level="warn" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="jdbc.audit" level="warn" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>

	<root>
		<level value="info" />
		<appender-ref ref="consoleAppender" />
	</root>
	
</configuration>