<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- <conversionRule conversionWord="nanos" converterClass="com.my.app.common.logging.CommonLoggingConvert" /> -->

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<withJansi>true</withJansi>
		<encoder>
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%-5level] %logger{24}\(%method:%line\) - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="CONSOLE" />
		<discardingThreshold>0</discardingThreshold>
		<includeCallerData>true</includeCallerData>
	</appender>

	<logger name="org.springframework.web" level="DEBUG" />
	<logger name="org.apache.http" level="DEBUG" />
	<logger name="io.netty" level="DEBUG" />
	
	<logger name="jdbc.sqlonly" level="info" />
	<logger name="jdbc.sqltiming" level="warn" />
	<logger name="jdbc.resultset" level="warn" />
	<logger name="jdbc.connection" level="warn" />
	<logger name="jdbc.audit" level="warn" />

	<root>
		<level value="INFO" />
		<appender-ref ref="ASYNC" />
	</root>
	
</configuration>